<header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>We create scientific and educational software</h1>
                        <p>Ovilab is a group of developers at the University of Oslo<br>
                        dedicated to create tools that improve everyday science and education.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
