<section id="portfolio" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Our projects</h2>
                <p>Things we are working on.</p>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/neuronify" class="portfolio-box">
                    <div class="ratio" style="background-image:url('/img/portfolio/neuronify.png')"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Neuronify
                            </div>
                            <div class="project-name">
                                Educational neural network simulator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ovilab/atomify-lammps" class="portfolio-box">
                    <div class="ratio" style="background-image:url('/img/portfolio/atomify.png')"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Atomify
                            </div>
                            <div class="project-name">
                                Live molecular dynamics visualizer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ovilab/SimVis" class="portfolio-box">
                    <div class="ratio" style="background-image:url('/img/portfolio/blender.png')"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SimVis
                            </div>
                            <div class="project-name">
                                Visualization of scientific data
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ovilab/ShaderNodes" class="portfolio-box">
                    <div class="ratio" style="background-image:url('/img/portfolio/shadernodes.png')"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ShaderNodes
                            </div>
                            <div class="project-name">
                                GLSL shader builder based on QML
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <div class="ratio" style="background-image:url('/img/portfolio/synapse3.png')"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Virtual reality
                            </div>
                            <div class="project-name">
                                Exploring data in 3D
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <div class="ratio" style="background-image:url('/img/portfolio/h2o.png')"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Simulation
                            </div>
                            <div class="project-name">
                                Microscopy, rate-based neural models and material simulations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
