<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
    
    {% include nav.html %}
  
    <header style="background-image: url('/img/neuronify/bg-pattern.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Atomify makes molecular dynamics easier</h1>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup macbook_2015.grey portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/atomify/device.png" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Download and begin exploring molecular dynamics</h2>
                    <p id="downloadMacOS">
                        <a class="btn btn-outline btn-xl" role="button" href="https://github.com/ovilab/atomify/releases/download/v2.0.9/Atomify-2.0.9-macos.pkg" >Download for macOS</a>
                    </p>
                    <p id="downloadAndroid">
                        <a class="btn btn-outline btn-xl" role="button" href="https://play.google.com/store/apps/details?id=com.compphys.atomify&hl=en">Download from Google Play</a>
                    </p>
                    <p id="downloadiOS">
                        <a class="btn btn-outline btn-xl" role="button" href="https://itunes.apple.com/us/app/atomify-lammps/id934441274?mt=8">Download from iTunes App Store</a>
                    </p>
                    <div id="downloadLinux">
                            <p>On Ubuntu 16.04 and above, it is easiest to install Atomify via the terminal:</p>
<pre style="text-align: left;">sudo snap install atomify
neuronify</pre>
                    </div>
                    <p>Not your operating system? Find your favorite platform below:</p>
                    <p>
                        <a class="btn page-scroll" role="button" href="https://github.com/ovilab/atomify/releases/download/v2.0.9/Atomify-2.0.9-macos.pkg">Mac</a>
                        <a class="btn page-scroll" role="button" href="https://play.google.com/store/apps/details?id=com.compphys.atomify&hl=en">Android</a>
                        <a class="btn page-scroll" role="button" href="https://itunes.apple.com/us/app/atomify-lammps/id934441274?mt=8">iOS</a>
                        <a class="btn page-scroll" role="button" href="http://github.com/ovilab/atomify/">Source code</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="all-downloads" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Neuronify for your favorite platform</h2>
                    <p>Neuronify is available for a wide range of platforms. Find your favorite platform below! Also, the .zip version for Windows does not require you to have admin privileges on your computer.</p>
                    <p>
                        <a class="btn page-scroll" role="button" href="TODO">Linux</a>
                        <a class="btn page-scroll" role="button" href="TODO">Mac</a>
                        <a class="btn page-scroll" role="button" href="TODO">Windows</a>
                        <a class="btn page-scroll" role="button" href="TODO">Windows (.zip)</a>
                        <a class="btn page-scroll" role="button" href="TODO">Android</a>
                        <a class="btn page-scroll" role="button" href="TODO">iOS</a>
                        <a class="btn page-scroll" role="button" href="TODO">Linux</a>
                    </p>
                </div>
            </div>
        </div>
    </section> -->

    {% include contact.html %}
    {% include scripts.html %}
    <script>
      osName = 'Unknown';

      function nav(x, y, z) {
      z = z || y;
      if (navigator[x] && navigator[x].indexOf(y) !== -1) {
      osName = z;
      }
      }

      /*   navigator     value     download  */
      nav( "appVersion", "X11",    "UNIX"    );
      nav( "appVersion", "Mac",    "MacOS"   );
      nav( "appVersion", "Linux"             );
      nav( "userAgent",  "Linux"             );
      nav( "platform",   "Linux"             );
      nav( "appVersion", "Win",    "Windows" );
      nav( "userAgent",  "Windows"           );
      nav( "platform",   "Win",    "Windows" );
      nav( "oscpu",      "Windows"           );
      nav( "platform",   "Android"           );
      nav( "userAgent",  "Android"           );
      nav( "userAgent",  "iOS"               );
      nav( "platform",   "iOS"               );

      console.log("Detected OS", osName);

      document.getElementById("download"+osName).className += " knownOS";
    </script>
  
</body>

</html>
